includes:
  - vendor/larastan/larastan/extension.neon
  - vendor/phpstan/phpstan-deprecation-rules/rules.neon
#  - vendor/thecodingmachine/phpstan-safe-rule/phpstan-safe-rule.neon

parameters:
  paths:
    - app/
    - bootstrap/
#  reportUnmatchedIgnoredErrors: false

#  treatPhpDocTypesAsCertain: false
#
#  universalObjectCratesClasses:
#    - Illuminate\Database\Eloquent\Relations\Pivot
#    - Illuminate\Http\Resources\Json\JsonResource

  level: 8

  ignoreErrors:
# Disable 1 times for user licence validation
    -
      identifier: catch.neverThrown
      path: app/Http/Clients/ComposerClient.php
      count: 1
