@import 'tailwindcss';
@import '../../vendor/livewire/flux/dist/flux.css';
@import "../fonts/inter/web/inter.css";
@import "../fonts/jet-brains-mono/webfonts/jetbrains-mono.css";

@source '../../storage/framework/views/*.php';
@source '../**/*.blade.php';
@source '../**/*.js';
@source '../**/*.ts';

@custom-variant dark (&:where(.dark, .dark *));

@theme {
  --font-sans: Inter, ui-sans-serif, system-ui, sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji', 'Segoe UI Symbol', 'Noto Color Emoji';
  --font-mono: JetBrains Mono, ui-monospace, SFMono-Regular, Menlo, Monaco, Consolas, 'Liberation Mono', 'Courier New', monospace;
}

@theme {
  --color-accent: var(--color-sky-600);
  --color-accent-content: var(--color-sky-600);
  --color-accent-foreground: var(--color-white);
  --spacing-theme: calc(var(--spacing) * 6);
}

@layer theme {
  .dark {
    --color-accent: var(--color-sky-600);
    --color-accent-content: var(--color-sky-400);
    --color-accent-foreground: var(--color-white);
  }
}

body {
  @apply pb-14;
}
